<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Document</title>
    <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='css/customize.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <script defer src="{{url_for('.static', filename='js/customize.js')}}"></script>
    <script defer src="https://sdk.scdn.co/spotify-player.js"></script>
</head>
<body>
    <div id="topHalf">
        <a id="navBack" href="/home">←</a>
        <div id="settings">
            <form action='/customize' method="post">
                <h2 id="name">
                    {{pl_data[1]}}
                </h2>
                <p>Playback only accessible with Spotify Premium</p>
                <span id="playlist_data">
                    <input type="hidden" name="id" value="{{pl_data[0]}}">
                    <input type="hidden" name="name" value="{{pl_data[1]}}">
                </span>
                <div class="minmax">
                    <span class="label">Tempo (0-200 BPM)</span>
                    <input name="custom[]" id="tmin" class="input" type="number" placeholder="min" value="0">
                    <input name="custom[]" id="tmax" class="input" type="number" placeholder="max" value="200">
                </div>
                <div class="minmax">
                    <span class="label">Popularity (0-100)</span>
                    <input name="custom[]" id="pmin" class="input" type="number" placeholder="min" value="0">
                    <input name="custom[]" id="pmax" class="input" type="number" placeholder="max" value="100">
                </div>
                <div class="minmax">
                    <span class="label">Instrumentalness (0-10)</span>
                    <input name="custom[]" id="imin" class="input" type="number" placeholder="min" value="0">
                    <input name="custom[]" id="imax" class="input" type="number" placeholder="max" value="10">
                </div>
                <div class="minmax">
                    <span class="label">Danceability (0-10)</span>
                    <input name="custom[]" id="dmin" class="input" type="number" placeholder="min" value="0">
                    <input name="custom[]" id="dmax" class="input" type="number" placeholder="max" value="10">
                </div>
                <div class="minmax">
                    <span class="label">Negative to Positive (0-10)</span>
                    <input name="custom[]" id="vmin" class="input" type="number" placeholder="min" value="0">
                    <input name="custom[]" id="vmax" class="input" type="number" placeholder="max" value="10">
                </div>
                <div class="minmax">
                    <span class="label">Number of songs (1-100)</span>
                    <input name="custom[]" id="size" class="input" type="number" value="20">
                </div>
                <input type='submit' value='Generate New Recommendations' class="submitButton">
            </form>
        </div>
    </div>
    <div id="recsContainer" data-playlist-id={{pl_data[0]}}>
        {% if new_recs %}

        <div id="recAll">
            <div class="bgBlur"></div>
            <div class="recContent">
                <div id="addAll">+</div>
                <div id="playAll">▶</div>
                <div id="skip">▶▶</div>
                <p>All New Recommendations</p>
            </div>
        </div>

        {% endif %}

        {% for rec in new_recs %}

        <div class="rec" data-uri={{rec[0]}}>
            <div class="bgBlur"></div>
            <div class="recContent">
                <div class="add">+</div>
                <p>{{rec[1]}}</p>
                <p>-</p>
                <p>{{rec[2]}}</p>
            </div>
        </div>

        {% endfor %}
    </div>
</body>
</html>