<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Playlist Expander Select</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CWVEN23755"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-CWVEN23755');
    </script>
    <link rel="stylesheet"  type="text/css" href="{{url_for('static', filename='css/selection.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div id="header">
        <h1 id="msg">
            Select a playlist to expand based on the first five songs
        </h1>
        <span class="spotify">
            <p>
                with spotify integration
            </p>
        </span>
        <img src="{{url_for('static', filename='images/Spotify_Logo_RGB_Green.png')}}" class="logoimg" width="120">
    </div>
    <div id="content">
        {% for playlist in html_playlist_data %}

        <form action='/customize' method="post">
            <input type='submit' value="{{playlist[1]}}" class="bgBlur">
            <input type="hidden" name="id" value="{{playlist[0]}}">
            <input type="hidden" name="name" value="{{playlist[1]}}">
            <p>{{playlist[1]}}<p>
        </form>

        {% endfor %}
    </div>
</body>
</html>