body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to top left, #212228, #484C53);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'League Spartan';
}

h1 {
    font-weight: 500;
    color: white;
    text-align: center;
    font-size: 3em;
}

p {
    color: #999A9C;
    margin: 0 30% 0 30%;
    text-align: center;
    font-size: 1.25em;
}

#login {
    text-decoration: none;
    margin-block-start: 1.5em;
    margin-block-end: 1.5em;
    background-color: #1DB954;
    padding: 0.7% 2% 0.7% 2%;
    border: none;
    color: black;
    font-weight: 550;
    border-radius: 4px;
    transition: ease 0.3s;
    font-size: 1.25em;
}

#login:hover {
    transform: scale(1.1);
    transition: ease 0.3s;
    cursor: pointer;
}

img {
    filter: grayscale(100%) brightness(35%);
    object-fit: cover;
    position: absolute;
    z-index: -1;
    height: 110%;
}

@media (max-width: 426px) {
    p {
        margin: 0 15% 0 15%;
    }
    button {
        padding: 3% 6% 3% 6%;
    }

}